<%inherit file="/base.html"/>

<%block name="content">
    <div class="demo" id="kendo_upload_demo3">
        <input name="files" class="file_input" type="file">
    </div>
    <script type="text/javascript">
        //自动上传
        $("#kendo_upload_demo3 .file_input").kendoUpload({
            localization: {
                select: "请选择文件...",
                remove: '删除',//删除按钮的tips
                headerStatusUploading : '开始上传',
                headerStatusUploaded : "文件上传成功"
            },
            async : {
                autoUpload : true,
                saveUrl : "save.action", //文件上传对应的接口
                removeUrl : 'remove.action' //文件删除对应的接口
            }
        });
    </script>

    <div class="row" id="plugin26_demo1">
        <div class="col-sm-6">
            <p class="magic-desc">要复制的文本</p>
            <textarea class="form-control" id="zclip_text0" style="height: 100px;">测试文本测试文本测试文本</textarea>
            <br>
            <a class="king-btn king-info" href="javascript:;" data-clipboard-target="#zclip_text0" data-clipboard-action="copy">复制文本框的文字</a>
        </div>
        <div class="col-sm-6">
            <p class="magic-desc">在此处复制</p>
            <textarea class="form-control" style="height: 100px;"></textarea>
            <br>
        </div>
    </div>
    <script type="text/javascript">
        var clipboard = new Clipboard('.king-btn');

        clipboard.on('success', function(e) {
            console.log(e);
            alert('复制成功！');
        });

        clipboard.on('error', function(e) {
            console.log(e);
            alert('复制失败！');
        });
    </script>
</%block>
